<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Home</title>
</head>

<body>
    <div class="container-home">
        <nav class="nav-bar">
            <div class="logo">
                <a href="#">Academia Fitness</a>
            </div>
            <div class="content-nav">
                <ul class="components">
                    <p>MENU</p>
                    <li class="nav-item">
                        <a href="#">Clientes Cadastrados</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Mensalidades</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cadastro-cliente">Cadastrar Cliente</a>
                    </li>
                </ul>
                <div class="content-logout">
                    <a href="#">Perfil Administrador</a>
                    <form action="#" method="post">
                        <button class="btn-sair">Sair</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <nav id="sidebar">

                <div class="sidebar-header">
                    <h4><a href="#">Academia </a></h4>
                </div>

                <ul class="list-unstyled ">


                    <li>
                        <a href="#"><i class="bi bi-bag-plus"></i>Cadastro de Produtos</a>
                    </li>

                    <li>
                        <a href="#"><i class="bi bi-bag-check"></i>Vendas</a>
                    </li>
                    <li>
                        <a href="#"><i class="bi bi-cart-plus"></i>Realizar Vendas</a>
                    </li>
                    <li>
                        <a href="#"><i class="bi bi-bar-chart-line "></i>Entrada e Saída</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</body>

</html>