<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Home</title>
</head>

<body>
    <div class="container-home">
        <%- include('./sideBarHome/navBar.ejs') %>
            <nav class="content-home">
                <ul class="home-list">
                    <li class="list-item">
                        <a class="item-btn" href="/clientes"><i></i>Clientes Cadastrados</a>
                    </li>
                    <li class="list-item">
                        <a class="item-btn" href="#"><i></i>Mensalidades</a>
                    </li>
                    <li class="list-item">
                        <a class="item-btn" href="#"><i></i>Mensalidades Pendentes</a>
                    </li>
                    <li class="list-item">
                        <a class="item-btn" href="/cadastro-cliente"><i></i>Cadastrar Cliente</a>
                    </li>
                </ul>
            </nav>
    </div>
</body>

</html>