<nav class="nav-bar">
    <div class="logo">
        <a href="/pag-inicial">Academia Fitness</a>
    </div>
    <div class="content-nav">
        <ul class="components">
            <p>MENU</p>
            <li class="nav-item">
                <a href="/clientes">Clientes Cadastrados</a>
            </li>
            <li class="nav-item">
                <a href="#">Mensalidades</a>
            </li>
            <li class="nav-item">
                <a href="#">Mensalidades Pendentes</a>
            </li>
            <li class="nav-item">
                <a href="/cadastro-cliente">Cadastrar Cliente</a>
            </li>
        </ul>
        <div class="content-logout">
            <a href="#">Perfil Administrador</a>
            <form action="#" method="post">
                <button class="btn-sair">Sair</button>
            </form>
        </div>
    </div>
</nav>